  // Specific CSS for your home-page

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.background-image {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 65px);

  h1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
  }

  p {
    color: white;
    font-size: 50px;
  }
}


.div-welcome-title {
  padding-top: 50px;

}

.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
