// Import page-specific CSS files here.
@import "home";


#map {
  height: 82%;
  width: 600px;
}

.card-body-index {
  width: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.padding-card {
  padding: 0px 20px;

}

.car-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 0px;

}

.list-group {
  padding-right: 20px;
}

.card-title-index {
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 10px;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  padding-top: 0px;
}

.photo {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.more-details {

  font-family: 'Permanent Marker', cursive;
}


.price {
  font-size: 20px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


.city {
  right: 61px;
  bottom: 239px;
}

.cars-list {
  width: 100%;
}

.pick_up_address {
  border: none;
}

.title-all-cars {
  margin-left: 25px;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 0px;
}

.search-index {
  height: 5% ;
  position: sticky;
}


.sticky-map-search {
  height: 100vh;
  position: sticky;
  top: 72px;
}


.title-div {
  height: 5%;
}

.all-cards {
  height: 82%;
  width: 100%;
}
