.card-img-topp-view {
  background-color: white;
  padding: 10px;
}

.background-color-show {
  background-color: #e8035f;
}

.card-body-large {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
