<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class= "logoo">
      <i class="fas fa-truck-monster fa-4x"></i>
    </div>
  <div class= "container">
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rentals</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">My cars </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>


          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"> To be discussed </a>
            <a class="dropdown-item" href="#">To be discussed</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Find a car" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Let's tune!</button>
      </form>
    </div>
  </div>
</nav>
