@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.activity-nav .nav-link {
  background-color: #F7F5F6;
  width: 150px;
  border-bottom: 1px solid #dee2e6;

}

.activity-nav .nav-link.active {
  background-color: white;

}

.activity-body h3 {
  font-weight: bold;
  margin-bottom: 15px;
  // font-family: 'Open Sans', sans-serif;
}

.activity-body h5 {
  margin-bottom: 20px;
  // font-family: 'Open Sans', sans-serif;
}

.activity-body {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.tripcard {
  background-image: url('background-jackynb.jpg');
  background-size: cover;
  .card-img {
    height: 100%;
  }
  .card-body {
    padding: 0 0 0 20px;
    .fa-trash {
      color: rgba(200, 200, 200, 0.8);
    }
    .fa-trash:hover {
      color: rgba(150, 150, 150, 0.8);
    }
  }
  h6, p {
    font-size: 15px;
    color: rgba(100, 100, 100, 1);
  }
  .link-icons .btn {
    // background-color: #b24951;
    color: white;
  }

  .btn-car {
    flex-grow: 1;
  }

  .btn-review {
    padding: 0.75rem 0.85rem;
    font-size: 1rem;
  }

  .other-lines {
    // line-height: 0.8;
  }
}
