.jackynb-background {
  background-image:      assset-url('road-01.png');
  background-size:       cover;
  height:                100%;
  width:                 100%;
  background-attachment: fixed;
  min-height:            100vh;
}
