.jackynb-background {
  background-image:      url('road-01.png');
  background-size: cover;
  height:                100%;
  width:                 100%;
  background-attachment: fixed;
  min-height:            100vh;
  // background-color: 364156
}
