.jackynb-background {
  background-image:      url('background-jackynb.jpg');
  height:                100%;
  width:                 100%;
  background-attachment: fixed;
  min-height:            100vh;
}
