.background-image {
  background-size:     cover;
  background-position: center;
  height:              calc(100vh - 80px);
  h1 {
    color:       white;
    font-family: 'Permanent Marker', cursive;
    font-size:   90px;
  }

  p {
    color:     white;
    font-size: 50px;
    opacity:   100%;
  }
  form {
    width: 1000px;
  }
}
