.btn-jacky{
  background-color: #E7055F;
  border-radius: 12px;
  color: white;
// background-color: #8B162E;
}

.btn-home{
background-color: transparent;
color: white;
border-color: white;
border-radius: 5px;
}
