.form_items{
  font-color:red;
  background-color: black;
}

.devise-form{
  background-color: rgba(0, 0, 0, 0.4);
  color: #F7F7F7;
  font-family: arial;
  font-size: 13px;
  display: flex;
  text-align: center;
}

.form-control{
  background-color: transparent;
  border-radius: 13px;
}
