
.new-car-form {
  background-color: rgba(0, 0, 0, 0.5);
  color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  border-radius: 8px;
  width: 33%;
  padding: 30px;
}

.new-car-form p {
  color: white;
}

.new-car-input {
  background-color: transparent;
  border-radius: 10px;
}


.new-rent-form {
  background-color: rgba(0, 0, 0, 0.5);
  color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  border-radius: 8px;
  width: 100%;
  padding: 30px;
}
.new-rent-input {
  background-color: transparent;
  border-radius: 10px;
}

.card-title-index{
  font-size: 30px;
  color: white;
}

.title-review {
  color: black;
}
