

.nav-item:hover{
 color:       #27496D;
  box-shadow: 0px 5px 0px;
}

a:hover{
  text-decoration: none;
  color:           #27496D;
}

.navbar a  {
  color:      black;
  font-size:  12px;
  font-style: arial;
}

.logo{
  margin: 0;
  padding:0;
}

.container.content{
  display:         flex;
  justify-content: flex-end;
}

.navbar{
  height: 70px;
}
