

.nav-item:hover{
 color:       #27496D;
  box-shadow: 0px 5px 0px;
}

a:hover{
  text-decoration: none;
  color:           #27496D;
}

.navbar a  {
  color:      black;
  font-size:  23px;
}

.container.content{
  display:         flex;
  justify-content: flex-end;
}

.navbar{
  height: 65px;
}

.nav-item p {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: lighter;
}
