.car-picture {
 border-radius: 12px;
}

.show-card{
border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);

}
.show-card p{
color: white;
  font-family: 'Montserrat', sans-serif;

}

.icon{
  color: #E7055F;

}

.card-title{
  font-size: 25px;
}

.card-city{
  font-size: 20px;
}

.icon-text{
  font-size: 17px;
}

.card-title{
  color: white;
}

.review-card{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.comment-card{
  background-color: white;
}

.comment-card p {
  color: black;
}

.card-title {
  color: white;
  font-size: 20px
}





