.rental-card {
  img {
    object-fit: cover;
    object-position: center;
    height: 30vh;
  }
}

.collapse .card-img-top {
  height: 25vh;
}

.profile-banner {
  height: 35vh;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.dribbble.com/users/1140574/screenshots/3973547/dribbble.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  .profile-card {
    width: 50vw;
    height: 18vh;
    border-radius: 5px;
    position: absolute;
    top: 27vh;
    left: 43vh;
    padding: 20px;
    .user-info {
      height: 10vh;
    }
    .footer h6 {
      font-size: 15px;
    }
  }
}

.nav-pills .nav-item:hover {
  border: none;
}

.nav-pills {
  margin: 100px auto;

}

.nav-pills .btn {

  &:hover {
    background-color: #B22F38;
    border-color: #B22F38;
    opacity: 0.4;
    color: white;

  }
}
