.car-picture {
  // border-radius: 5px;
  // position:      relative;
  // bottom:        41px;
  // left:          103px;
}

.show-card{
border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);

}
.show-card p{
color: black;
  font-family: 'Montserrat', sans-serif;

}

.icon{
  color: #E7055F;
}
